.navContainer {
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
}
.navContainer h2 {
  margin: 0;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navContainer div {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navContainer div a {
  color: white;
  text-decoration: none;
  margin-right: 50px;
}
